<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube to MP3/MP4</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="shortcut icon" href="static/img/logoonly.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="YouTube to MP3 MP4">
    <meta property="og:description" content="Your YouTube Downloader">
    <meta property="og:image" content="static/img/logonly.png">
    <meta property="og:url" content="https://youtube-mp3-mp4.com/">
    <meta property="og:type" content="website">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/utils.js"></script>
</head>
<body>
    <input id="title" type="hidden" value="Home - YouTube to MP3/MP4"/>
    <!-- Page Content  -->
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>